@import "/src/variables.scss";

.dashboard-layout {
    height: 100vh;
    overflow: hidden;
    color: $pry-color;

    .body {
        display: flex;

        @media (max-width:500px) {
            position: relative;
            left: -230px;
            width: calc(100vw + 230px);

            @keyframes slideout {
                0% {
                    left: -230px;
                }

                100% {
                    left: 0;
                }
            }

            @keyframes slidein {
                0% {
                    left: 0;
                }

                100% {
                    left: -230px;
                }
            }

            &.open {
                animation: slideout 0.3s ease-out both;
            }

            &.close {
                animation: slidein 0.3s ease-in both;
            }
        }
    }
}