.body {
    @media (max-width:500px) {
        position: relative;
        left: -230px;

        @keyframes slideout {
            0% {
                left: -230px;
            }

            100% {
                left: 0;
            }
        }

        @keyframes slidein {
            0% {
                left: 0;
            }

            100% {
                left: -230px;
            }
        }

        &.open {
            animation: slideout 0.4s ease-out both;
        }

        &.close {
            animation: slidein 0.4s ease-in both;
        }
    }
}