.users {
    width: calc(100vw - 230px);
    overflow-x: hidden;
    height: calc(100vh - 61px);
    overflow-y: scroll;
    padding-right: 0;

    @media (max-width: 500px) {
        font-size: 0.8rem;
        height: calc(100vh - 64px);
        padding: 1rem;

    }

    h2 {
        font-weight: 500;
        font-size: 24px;
        padding: 1rem;
        margin: 2rem;
    }

    &__infocards {
        display: flex;
        justify-content: space-between;
        gap: 0.8rem;
        max-width: 1200px;
        margin: 2rem;
        overflow-x: scroll;

        scrollbar-width: none;
        -ms-overflow-style: none;

        &::-webkit-scrollbar {
            display: none;
        }

        @media (max-width:620px) {

            width: calc(100vw)
        }



    }

}